@charset "utf-8";

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../font/WixMadeforDisplayVariableFont.ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKRVariableFont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Wix Madefor Display";
  word-break: keep-all;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
}

/* common */
.contact-btn a {
  position: relative;
  display: block;
  width: 100px;
  height: 33.02px;
  border-radius: 16.51px;
  text-align: center;
}

.contact-btn a:hover {
  background-color: #E8440A;
  transition: all 0.4s;
  transition-delay: 1s;
}

.contact-btn a .contact-btn-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.contact-btn a:hover .contact-btn-bg svg {
  stroke-dasharray: 237;
  stroke-dashoffset: 237;
  animation: contactBtn 1s linear;
  animation-fill-mode: forwards;
}

@keyframes contactBtn {
  0% {
    stroke-dashoffset: 237;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.contact-btn a .contact-btn-bg svg path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-miterlimit: 10;
}

.contact-btn a:hover .contact-btn-bg svg path {
  stroke: #E8440A;
}

.contact-btn a span {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  line-height: 34px;
}


/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.4s;
}

#header {
  width: 100%;
  height: 100px;
  padding: 0 4vw;
}

#header.hover {
  background-color: #fff;
}

#header::after {
  content: "";
  display: block;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.4s;
}

#header.hover::after {
  transform: scaleY(1);
}

#header h1 {
  position: absolute;
  top: 19px;
  left: 95px;
  z-index: 10;
}

#header h1 a {
  display: block;
  width: 130px;
  height: 55px;
  background: url("../img/header-logo-w.png") no-repeat;
}

#header.bk h1 a,
#header.hover h1 a {
  background: url("../img/header-logo-c.png") no-repeat;
}

#header nav .depth1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header nav .depth1 > li {
  position: relative;
  margin: 0 1.5vw;
}

#header nav .depth1 > li > a {
  position: relative;
  display: block;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
  line-height: 100px;
}

#header.bk nav .depth1 > li > a,
#header.hover nav .depth1 > li > a {
  color: #000;
}

#header nav .depth1 > li > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #111;
  position: absolute;
  top: calc(50% + 10px);
  left: 0;
  transform: scaleX(0);
  transition: all 0.4s;
}

#header nav .depth1 > li > a:hover::after {
  transform: scaleX(1);
}

#header nav .depth2 {
  position: absolute;
  left: 0;
  top: 100%;
  width: 1000px;
  height: 60px;
  display: flex;
  gap: 52px;
  clip-path: inset(0 0 100% 0);
}

#header nav .depth1 > li:nth-child(5) > .depth2,
#header nav .depth1 > li:nth-child(6) > .depth2 {
  left: -300px;
}

#header nav .depth2.open {
  clip-path: inset(0 0 0 0);
  transition: none;
  transition: all 0.4s;
  transition-delay: 0.2s;
}

#header nav .depth2 > li {
  position: relative;
}

#header nav .depth2 > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #b7b7b7;
  position: absolute;
  top: 50%;
  right: -26px;
  margin-top: -6px;
}

#header nav .depth2 > li:last-child::after {
  display: none;
}

#header nav .depth2 > li > a {
  font-size: 17px;
  color: #555;
  line-height: 60px;
}

#header nav .depth2 > li > a:hover {
  color: #000;
  font-weight: 500;
}

#header .header-icons {
  position: absolute;
  right: 95px;
  top: 32px;
  display: flex;
  align-items: center;
  gap: 30px;
}

#header .header-icons ul.lan {
  display: flex;
  align-items: center;
}

#header .header-icons ul.lan li:first-child {
  position: relative;
  padding-right: 6px;
  margin-right: 6px;
}

#header .header-icons ul.lan li:first-child::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#header.bk .header-icons ul.lan li:first-child::after,
#header.hover .header-icons ul.lan li:first-child::after {
  background-color: rgba(0, 0, 0, 0.4);
}

#header .header-icons ul.lan li a {
  font-weight: 500;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.55);
}

#header.bk .header-icons ul.lan li a,
#header.hover .header-icons ul.lan li a {
  color: rgba(0, 0, 0, 0.55);
}

#header .header-icons ul.lan li.on a {
  color: #fff;
}

#header.bk .header-icons ul.lan li.on a,
#header.hover .header-icons ul.lan li.on a {
  color: #000;
}

#header.bk .header-icons .contact-btn a .contact-btn-bg svg path,
#header.hover .header-icons .contact-btn a .contact-btn-bg svg path {
  stroke: #000;
}

#header.bk .header-icons .contact-btn a:hover .contact-btn-bg svg path,
#header.hover .header-icons .contact-btn a:hover .contact-btn-bg svg path {
  stroke: #E8440A;
}

#header.bk .header-icons .contact-btn a span,
#header.hover .header-icons .contact-btn a span {
  color: #000;
  font-weight: 500;
  transition: all 0.4s;
}

#header.bk .header-icons .contact-btn a:hover span,
#header.hover .header-icons .contact-btn a:hover span {
  color: #fff;
  transition-delay: 1s;
}

#header .header-icons .header-full-btn {
  position: relative;
  z-index: 3000;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#header .header-icons .header-full-btn > div {
  width: 100%;
  margin-bottom: 3px;
  transition: all 0.4s;
  display: flex;
  gap: 3px;
  align-items: center;
}

#header .header-icons .header-full-btn > div > span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.4s;
}

#header.bk .header-icons .header-full-btn > div > span,
#header.hover .header-icons .header-full-btn > div > span,
#header .header-icons .header-full-btn.full > div > span {
  background-color: #000;
}

#header .header-icons .header-full-btn.full > div > span.none {
  background-color: transparent;
}

/* full header */
header .full-header-bg {
  position: absolute;
  top: 38px;
  left: calc(98vw - 23px);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f4f4f4;
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.6s ease-in-out;
}

header .full-header-bg.full {
  transform: translate(-50%, -50%) scale(100);
}

#full-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  transform: scale(0);
  text-align: center;
  transition: transform 0s;
}

#full-header.full {
  transform: scale(1);
  transition-delay: 0.6s;
}

#full-header * {
  font-family: "Noto Sans KR";
}

#full-header .f-header-wrap {
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 8vh 5%;
  padding-right: calc(5% + 1px);
  text-align: left;
  transition: opacity 1s 0.6s;
}

#full-header.full .f-header-wrap {
  opacity: 1;
}

#full-header .f-header-wrap ul.f-depth1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#full-header .f-header-wrap ul.f-depth1 > li {
  position: relative;
  width: 25%;
  height: 47%;
  padding: 0 50px;
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.9s;
}

#full-header.full .f-header-wrap ul.f-depth1 > li {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.6s;
}

#full-header .f-header-wrap ul.f-depth1 > li:nth-child(n+6) {
  border-right: 1px solid  rgba(0, 0, 0, 0.2);
}

#full-header .f-header-wrap ul.f-depth1 > li.h100 {
  height: 100%;
}

#full-header .f-header-wrap ul.f-depth1 > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#full-header .f-header-wrap ul.f-depth1 > li::after {
  content: attr(data-num);
  position: absolute;
  top: -41px;
  right: -11px;
  font-size: 140px;
  font-family: "Wix Madefor Display";
  font-weight: 900;
  color: rgba(0, 0, 0, 0.05);
}

#full-header .f-header-wrap ul.f-depth1 > li:nth-child(n+2):after {
  right: -5px;
}

#full-header .f-header-wrap ul.f-depth1 > li > h2,
#full-header .f-header-wrap ul.f-depth2 > li,
#full-header .f-header-wrap ul.f-depth3 > li {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s;
}

#full-header.full .f-header-wrap ul.f-depth1 > li > h2,
#full-header.full .f-header-wrap ul.f-depth2 > li,
#full-header.full .f-header-wrap ul.f-depth3 > li {
  opacity: 1;
  transform: translateY(0px);
}

#full-header .f-header-wrap ul.f-depth1 > li > h2 {
  display: block;
  font-family: "Wix Madefor Display";
  font-size: 30px;
  font-weight: 700;
  color: #111;
}

#full-header.full .f-header-wrap ul.f-depth1 > li > h2 {
  transition-delay: 0.7s;
}

#full-header .f-header-wrap ul.f-depth2 {
  margin-top: 15px;
}

#full-header .f-header-wrap ul.f-depth2 > li {
  margin-bottom: 5px;
}

#full-header.full .f-header-wrap ul.f-depth2 > li {
  transition-delay: 0.8s;
}

#full-header .f-header-wrap ul.f-depth2 > li > a {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: #333;
}

#full-header .f-header-wrap ul.f-depth2 > li > a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s;
}

#full-header .f-header-wrap ul.f-depth2 > li > a:hover::after {
  width: 100%;
}

#full-header .f-header-wrap ul.f-depth3 {
  margin: 20px 0;
}

#full-header .f-header-wrap ul.f-depth3 > li {
  position: relative;
  padding-left: 15px;
  margin: 5px 0;
}

#full-header.full .f-header-wrap ul.f-depth3 > li {
  transition-delay: 0.9s;
}

#full-header .f-header-wrap ul.f-depth3 > li::before {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: #333;
}

#full-header .f-header-wrap ul.f-depth3 > li:hover::before {
  color: #ec690a;
}

#full-header .f-header-wrap ul.f-depth3 > li > a {
  font-size: 18px;
  font-weight: 300;
  color: #777;
}

#full-header .f-header-wrap ul.f-depth3 > li:hover > a {
  color: #ec690a;
}

/* main */
/* common */
.fp-tableCell {
  display: block;
  height: 100vh !important;
}

section .inner {
  width: 100%;
  padding: 6% 95px 0;
  margin: 0 auto;
}

section .section-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

section .section-title h3 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}

section .section-title p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
}

section .section-title .more > span {
  color: #fff;
}

section .fadeup {
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.9s;
}

section .fadeup-d2000 {
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.9s;
  transition-delay: 0.2s;
}

section .fadeup-d5000 {
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.9s;
  transition-delay: 0.5s;
}

section.on .fadeup,
section.on .fadeup-d2000,
section.on .fadeup-d5000 {
  opacity: 1;
  transform: translateY(0px);
}

section .more {
  display: flex;
  align-items: center;
  gap: 10px;
}

section .more > span {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 14px;
}

section .more::after {
  content: "";
  display: block;
  width: 16px;
  height: 7px;
  background: url("../img/btn-more-w.png") no-repeat center;
}

section .more:hover::after {
  transform: translateX(7px);
  animation: moveMoreArrow 1s infinite linear;
}

@keyframes moveMoreArrow {
  0% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0px);
  }
}

section .more-round {
  position: relative;
  box-sizing: content-box;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.4s;
}

section .more-round:hover {
  border-color: rgba(232, 68, 10, 0.8) !important;
}

section .more-round::before {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  background: rgba(232, 68, 10, 0.6);
  transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
}

section .more-round:hover::before {
  transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
}

section .more-round:hover::after {
  animation: moveMoreRoundArrow 0.8s infinite linear;
}

section .more-round:hover > span {
  font-weight: 600;
}

@keyframes moveMoreRoundArrow {
  0% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* HERO */
section.hero .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}

section.hero .swiper-slide .hero-slide-text {
  position: absolute;
  width: 100%;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

section.hero .swiper-slide .hero-slide-text h2 span {
  font-size: 82px;
  color: #fff;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: -10px;
  opacity: 0;
  transform: translateX(0px);
  transition: all 0.9s;
}
section.hero .swiper-slide .hero-slide-text h2 span:last-child {
  margin-bottom: 25px;
}

section.hero.load .swiper-slide.swiper-slide-active .hero-slide-text h2 span:nth-child(1) {
  opacity: 1;
  transform: translateX(-100px);
}
section.hero.load .swiper-slide.swiper-slide-active .hero-slide-text h2 span:nth-child(2) {
  opacity: 1;
  transform: translateX(80px);
}
section.hero.load .swiper-slide.swiper-slide-active .hero-slide-text h2 span:nth-child(3) {
  opacity: 1;
  transform: translateX(-80px);
}

section.hero .swiper-slide .hero-slide-text p,
section.hero .swiper-slide .hero-slide-text a {
  text-align: center;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.9s 0.4s;
}

section.hero.load .swiper-slide.swiper-slide-active .hero-slide-text p,
section.hero.load .swiper-slide.swiper-slide-active .hero-slide-text a {
  opacity: 1;
  transform: translateY(0);
}

section.hero .swiper-slide .hero-slide-text p {
  font-size: 23px;
  font-weight: 300;
}

section.hero .swiper-slide .hero-slide-text .more {
  justify-content: center;
  margin-top: 50px;
}

section.hero .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transform: scale(1.1);
  transform-origin: center;
  transition: all 1.4s;
}

section.hero .swiper-slide.swiper-slide-active img {
  transform: scale(1);
}

section.hero .hero-swiper .hero-swiper-control-bar {
  position: absolute;
  top: 77%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 50;
  margin: 30px 0 0;
  opacity: 0;
  transform: translate(-50%, 50px);
}

section.hero.load .hero-swiper .hero-swiper-control-bar {
  opacity: 1;
  transform: translate(-50%, 0px);
  transition: all 0.9s 0.4s;
}

section.hero .hero-swiper .hero-swiper-btn-prev {
  width: 8px;
  height: 14px;
  background: url("../img/hero-btn-prev.png") no-repeat center/cover;
  cursor: pointer;
}

section.hero .hero-swiper .hero-swiper-btn-next {
  width: 8px;
  height: 14px;
  background: url("../img/hero-btn-next.png") no-repeat center/cover;
  cursor: pointer;
}

section.hero .hero-swiper .hero-swiper-pagination {
  position: static;
  width: auto;
  margin: 0 30px;
  text-align: left;
}

section.hero .hero-swiper .hero-swiper-pagination span {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin: 5px 12px 0;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 1;
}

section.hero .hero-swiper .hero-swiper-pagination span.swiper-pagination-bullet-active {
  width: 10px;
  background-color: #fff;
}

section.hero .scroll-spin {
  position: absolute;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  bottom: 40px;
  left: 50%;
  z-index: 60;
  background: url("../img/hero-btn-scroll.png") no-repeat center;
  opacity: 0;
  transform: translate(-50%, 50px);
}

section.hero.load .scroll-spin {
  opacity: 1;
  transform: translate(-50%, 0px);
  transition: all 0.9s 0.4s;
}

section.hero .scroll-spin::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-right: 2px solid #fff;
  transform: rotate(0deg);
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* NEWS */
section.news {
  background: url("../img/news-bg.jpg") no-repeat center/cover;
}

section.news .section-title h3 {
  font-weight: 700;
  color: #000;
}

section.news .more > span {
  color: #000;
}

section.news .more::after {
  background-image: url("../img/btn-more-b.png");
}

section.news .news-swiper {
  margin-top: 5vh;
  padding-bottom: 40px;
}

section.news .swiper-slide {
  position: relative;
  width: 384px;
  height: 495px;
  padding: 30px;
  cursor: pointer;
  /* swiper-slide에 mask를 주면 after가 안 보임! */
}

section.news .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../img/news-card-layout.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: #fff;
  transition: all 0.4s;
}

section.news .swiper-slide:hover::before {
  background-color: #746F74;
}

section.news .swiper-slide::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -30px;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

section.news .swiper-slide a.news-card .news-card-thumb {
  max-width: 100%;
  width: 340px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

section.news .swiper-slide a.news-card .news-card-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.news .swiper-slide a.news-card .news-card-info {
  position: relative;
  padding: 20px 0;
}

section.news .swiper-slide a.news-card .news-card-info .news-card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

section.news .swiper-slide a.news-card .news-card-info .news-card-meta .category {
  width: 72px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  border-radius: 13px;
  background-color: #000;
}

section.news .swiper-slide a.news-card .news-card-info .news-card-meta .date {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Noto Sans KR";
}

section.news .swiper-slide a.news-card .news-card-info h4.news-card-title {
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-weight: 600;
  color: #222;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 4.8em;
  line-height: 1.6em;
  padding-right: 12%;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

section.news .swiper-slide:hover a.news-card .news-card-info h4.news-card-title {
  color: #fff;
}

section.news .swiper-slide a.news-card .news-card-info::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 85%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

section.news .swiper-slide:hover .more > span {
  color: rgba(255, 255, 255, 0.8);
}

section.news .swiper-slide:hover .more::after {
  background-image: url("../img/btn-more-w.png");
}

section.news .swiper-scrollbar {
  display: block !important;
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

section.news .swiper-scrollbar .swiper-scrollbar-drag {
  height: 6px;
  background-color: #000;
  border-radius: 0;
}

/* SERVICE */
section.service {
  background: url("../img/service-bg.jpg") no-repeat center/cover;
}

section.service ul.service-content {
  margin-top: 35px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

section.service ul.service-content li.service-card {
  position: relative;
  width: 520px;
  height: 652px;
  padding: 45px 45px 70px 45px;
  border-radius: 30px;
  cursor: pointer;
}

section.service ul.service-content li.service-card:nth-child(1) {
  transition-delay: 0.8s;
}
section.service ul.service-content li.service-card:nth-child(2) {
  transition-delay: 0.95s;
}
section.service ul.service-content li.service-card:nth-child(3) {
  transition-delay: 1.1s;
}

section.service ul.service-content li.service-card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(30px);
  -webkit-mask-image: url("../img/service-card-layout.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: rgba(255, 255, 255, 0.12);
}

section.service li.service-card .service-card-thumb {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 18px;
}

section.service li.service-card .service-card-thumb img {
  width: 100%;
}

section.service li.service-card .service-card-con {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

section.service li.service-card h4.service-card-title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 1.35em;
  margin-bottom: 18px;
}

section.service li.service-card p {
  font-size: 20px;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.8);
}

/* FACILITIES */
section.facilities {
  background-color: #000;
}

section.facilities ul.facilities-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

section.facilities ul.facilities-content li.facilities-card {
  width: 33.5%;
  height: 680px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.8s;
}

section.facilities ul.facilities-content li.facilities-card.active {
  width: 64.5%;
}

section.facilities ul.facilities-content li.facilities-card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../img/facilities-card-layout.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: #fff;
}

section.facilities ul.facilities-content li.facilities-card.active::before {
  -webkit-mask-image: url("../img/facilities-card-layout-active.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  transform-origin: center left;
  opacity: 0.9;
}

section.facilities ul.facilities-content li.facilities-card:nth-child(1).active::before {
  background: url("../img/facilities-img1.jpg") no-repeat center/cover;
}
section.facilities ul.facilities-content li.facilities-card:nth-child(2).active::before {
  background: url("../img/facilities-img2.jpg") no-repeat center/cover;
}

section.facilities li.facilities-card {
  padding-left: 55px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.facilities li.facilities-card h4.facilities-card-title {
  font-size: 66px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

section.facilities li.facilities-card.active h4.facilities-card-title {
  color: #fff;
}

section.facilities li.facilities-card p {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  margin-bottom: 30px;
}

section.facilities li.facilities-card.active p {
  color: #fff;
}

section.facilities li.facilities-card a.more {
  border-color: #000;
}
section.facilities li.facilities-card.active a.more {
  border-color: #fff;
}

section.facilities li.facilities-card a.more span {
  color: #000;
}
section.facilities li.facilities-card.active a.more span {
  color: #fff;
}

section.facilities li.facilities-card a.more::after {
  background-image: url("../img/btn-more-b.png");
}
section.facilities li.facilities-card.active a.more::after {
  background-image: url("../img/btn-more-w.png");
}

/* PROMOTION */
section.promotion {
  position: relative;
  background: url("../img/promotion-bg2.png") no-repeat center/cover;
}

section.promotion .fp-tableCell {
  display: flex;
  justify-content: flex-end;
}

section.promotion .promotion-media {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: calc(50% + 84px);
  max-width: 1000px;
  height: 100%;
  background: url("../img/promotion-bg1.png") no-repeat center/cover;
}

section.promotion.on .promotion-media {
  animation: fadeImgLeft 1s ease-in-out forwards;
}

@keyframes fadeImgLeft {
  0% {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  100% {
    opacity: 1;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

section.promotion .promotion-brochuer {
  width: calc(50% - 84px);
  height: 100%;
}

section.promotion .promotion-content-inner {
  padding: calc(100px + 6%) 0 0 95px;
}

section.promotion .promotion-content-inner .promotion-text {
  margin-bottom: 110px;
}

section.promotion .promotion-content-inner .promotion-text h3 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 70px;
  transition-delay: 1s;
}

section.promotion .promotion-content-inner .promotion-text p {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #fff;
  transition-delay: 1.1s;
}

section.promotion .promotion-content-inner .promotion-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.promotion .promotion-content-inner .promotion-btn a.p-btn {
  transition-delay: 1.2s;
}

section.promotion .promotion-content-inner .promotion-btn a.p-btn img {
  max-width: 100%;
}

section.promotion .promotion-content-inner .promotion-btn a.more {
  margin-top: 32px;
  transition-delay: 1.3s;
}

/* CONTACT */
section.contact {
  position: relative;
  background: url("../img/contact-bg.jpg") no-repeat center/cover;
}

section.contact .contact-content {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  max-width: 1920px;
  width: calc(100% - 95px);
  height: 500px;
  padding-top: 80px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.contact .contact-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(30px);
  -webkit-mask-image: url("../img/contact-bottom-layout.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top -20px;
  -webkit-mask-size: 100% 120%;
  background-color: rgba(255, 255, 255, 0.12);
}

section.contact .contact-content > div {
  position: relative;
}

section.contact .contact-content p {
  font-size: 34px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 60px;
  transition-delay: 0.4s;
}

section.contact .contact-content h3 {
  font-size: 100px;
  font-weight: 900;
  line-height: 1.0;
  color: #fff;
}

section.contact .contact-content span.left-txt {
  display: block;
  position: absolute;
  top: 56%;
  right: -50px;
  opacity: 0;
  transform: translate(0%, -50%);
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  transition: all 0.9s;
}

section.contact.on .contact-content span.left-txt {
  opacity: 1;
  right: 0;
  transition-delay: 0.6s;
}

section.contact .contact-content .go-contact-btn {
  transition-delay: 0.7s;
  margin-right: 10vw;
}

section.contact .contact-content .go-contact-btn a.more-round {
  width: 237px;
  height: 237px;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #fff;
  box-sizing: border-box;
}

section.contact .contact-content .go-contact-btn a.more-round::before {
  height: 210%;
}

section.contact .contact-content .go-contact-btn a.more-round::after {
  width: 97px;
  height: 11px;
  background-image: url("../img/contact-btn-arrow.png");
}

section.contact .contact-content .go-contact-btn a.more-round > span {
  font-size: 20px;
  font-weight: 500;
}


/* FOOTER */
.footer {
  background-color: #000;
  margin: 0 auto;
  padding: 40px 95px;
}

.footer .fp-tableCell {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer h1 {
  width: 164px;
}

.footer h1 img {
  max-width: 100%;
}

.footer .footer-info {
  width: calc(100% - 164px - 400px);
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  gap: 64px;
}

.footer .footer-info > div.f-info-box {
  position: relative;
  padding-left: 11px;
}

.footer .footer-info > div.f-info-box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer .footer-info .f-info-item {
  display: flex;
}

.footer .footer-info > div.f-info-box > div.f-info-item:first-child {
  margin-bottom: 10px;
}

.footer .footer-info .f-info-item div {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.footer .footer-info .f-info-item > div:first-child {
  width: 80px;
}

.footer .footer-info .f-adrs-item {
  display: flex;
}

.footer .footer-info .f-adrs-item > div:first-child {
  width: 110px;
}

.footer .footer-info .f-adrs-item > div:last-child {
  width: calc(100% - 110px);
}

/* footer-copy */
.footer-copy {
  width: 410px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-copy .contact-btn {
  margin-bottom: 22px;
}

.footer-copy .contact-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copy .contact-btn a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 9px;
  margin-left: 5px;
  background: url("../img/btn-more-w.png") no-repeat center;
}

.footer-copy .copy {
  font-size: 16px;
  text-align: right;
  color: #fff;
}

/* fullpage */
#fp-nav {
  margin-top: 0 !important;
  transform: translateY(-50%);
}

#fp-nav.right {
  right: 2%;
}

#fp-nav ul li, .fp-slidesNav ul li {
  width: 12px;
  height: auto;
  margin: 22px 0;
}

#fp-nav ul li a, .fp-slidesNav ul li a {
  width: 100%;
  height: auto;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  display: block;
  position: static;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, 0.5);
  margin: 0 auto;
  transition: none;
  border-radius: 50%;
  text-align: center;
}

#fp-nav.bk ul li a span, 
.fp-slidesNav.bk ul li a span {
  border-color: rgb(0, 0, 0, 0.5);
}

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  width: 8px;
  height: 8px;
  margin: 0 auto;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid #fff;
  transition: all 0.4s;
  margin: 0;
  border-radius: 50%;
}

#fp-nav.bk ul li a.active span, 
.fp-slidesNav.bk ul li a.active span, 
#fp-nav.bk ul li:hover a.active span, 
.fp-slidesNav.bk ul li:hover a.active span {
  background-color: #000;
  border: 1px solid #000;
}